#title
{
	background-color: 795548;
	text-align: center;
	height: 200px;
	font-family: Georgia, serif;
	padding: 50px;
	color: white;
	text-transform: uppercase;
}

body{
	padding-top:0;
	margin-left:232px;
}

li
{
	text-align: center;
	font-size: x-large;
	color: black;
	height: 100vh;
	text-transform: uppercase;
	
}

.navbar.fixed-left{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1030;
	background-color: #4E342E;
	}


.navbar.fixed-left{
	bottom:0;
	width:232px;
	flex-flow:column nowrap;
	align-items:flex-start;
	}
		
.navbar.fixed-left
.navbar-nav{
	flex-direction:column;
	width:100%;
	}

.content{
	text-align: center;
	font-family: Georgia, serif;
	padding-top: 40px;
	font-size: x-large;
	padding-bottom: 40px;
}

ul{
	height: 100vh;
}

a { text-decoration: none; 
	color: white;
	font-family: Georgia, serif;
	}
	
.list-group-item
{
	background-color: #4E342E;
}

img
{
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

a:hover{
	color: gray;
}